<div class="container" id="footnote">
    <hr>
    Made with Web Technologies <i class="fas fa-heart"></i>
    <br>
    Follow the code on <i class="fab fa-github"></i> 
    <a href="https://github.com/sarthakDeveloper18/youtube_downloader">GitHub</a>
</div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    </script>
</body>
</html>
