<div class="container" id="footnote">
    <hr>
    Made with Web Technologies and <i class="fas fa-heart"></i> by 
    <a href="https://twitter.com/jai_dewani">
        <i class="fab fa-twitter"></i>Jai
    </a><br>
    Follow the code on <i class="fab fa-github"></i> 
    <a href="http://www.github.com/jai-dewani/umusic">GitHub</a>
</div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    </script>
</body>
</html>